.breadcrumbs {
    background-image: url('/images/bread-crumb (copy).jpg');
    padding: 150px 0;
}

    .breadcrumbs::before {
        background: rgba(106, 104, 113, 0);
    }

    .breadcrumbs .bread-title h2 {
        color: rgba(237, 239, 231, 0.8);
    }

.title-normal {
    transform: scale(2);
}


.title-rotate {
    transform: rotate(-14deg) scale(2);
}

.blogs.archive {
    padding: 0px;
    background-color: #fff;
}
    .blogs.archive .page-header {
        border-top: 1px solid #282828;
    }
        .blogs.archive .page-header h5 {
            padding: 40px 0 0;
        }