@page "/notices/{slug}"
<link href="~/css/notice.css" rel="stylesheet" />

<!--/ End Breadcrumbs -->
<!-- Blog Archive -->
<section class="blogs archive single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12" id="notice-detail">
                        <!-- Single blog -->
                        
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-12" hidden>
                        <!-- Comments Form -->
                        <div class="comments-form">
                            <div class="bottom-title">
                                <h2>Leave a comment</h2>
                            </div>
                            <!-- Comment Form -->
                            <form class="form" method="post" action="http://themelamp.com/templates/trendbiz/mail/mail.php">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label>Your Name<span>*</span></label>
                                            <input type="text" name="name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label>Your Email<span>*</span></label>
                                            <input type="email" name="email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group">
                                            <label>Your Website<span>*</span></label>
                                            <input type="url" name="website" required="required">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Your Comment<span>*</span></label>
                                            <textarea name="message" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn primary animate">Submit Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/ End Comment Form -->
                        </div>
                        <!--/ End Comments Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Archive -->

@section Scripts {
    <script type="text/javascript" src="~/js/notice.js"></script>
    <script type="text/javascript">
        (function () {
            fetchRecentNoticesBlog();
            fetchNoticeBySlug('@RouteData.Values["slug"]');
            configEvents();
        })();
    </script>
    
}