.vs/
Doitsu.Ecommer.Admin/Template/cleanui-admin-template-react-starter-kit/public/
Doitsu.Ecommer.Admin/Template/cleanui-admin-template-react-starter-kit/build/
Doitsu.Ecommer.Admin/Template/cleanui-admin-template-react-starter-kit/node_modules/
Doitsu.Ecommerce.Admin/Template/cleanui-admin-template-react-starter-kit/node_modules/
Doitsu.Ecommerce.Admin/Template/cleanui-admin-template-react-starter-kit/build/
obj/
bin/
Doitsu.Fandom.API/wwwroot/resource-container/
