@page "/news"
<!-- Breadcrumbs -->
<section class="breadcrumbs overlay bg-image">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Bread Title -->
                <div class="bread-title">
                    <h2><span>Read our latest article</span>Our Latest News</h2>
                </div>
                <!-- Bread List -->
                <ul class="bread-list">
                    <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="#"><i class="fa fa-clone"></i>Blog</a></li>
                    <li class="active"><a href="blog-grid-sidebar.html"><i class="fa fa-clone"></i>Blog Grid Sidebar</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- Blog Archive -->
<section class="blogs grid-sidebar archive section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog">
                            <div class="blog-head">
                                <img src="images/blog/blog-archive1.jpg" alt="#">
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">Modern & Creative templates for any business purpose</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>10 July, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>30 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog">
                            <div class="blog-head">
                                <img src="images/blog/blog-archive3.jpg" alt="#">
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">We Make High Quality Website Template & Themes</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>28 Jun, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>102 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog iframe">
                            <div class="blog-head">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe height="450" src="https://www.youtube.com/embed/UalTfOIDQ7M"></iframe>
                                </div>
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">Some Tips for your Agency & Company project</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>15 May, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>58 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog">
                            <div class="blog-head">
                                <img src="images/blog/blog-archive4.jpg" alt="#">
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">How to Earn Huge Money Without any Investment</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>09 May, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>83 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog">
                            <div class="blog-head">
                                <img src="images/blog/blog-archive6.jpg" alt="#">
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">Why buying a big house is a bad investment</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>10 April, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>43 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog iframe">
                            <div class="blog-head">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe height="300" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/270045375&amp;color=%231bbc9b&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                                </div>
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">Recognizing the need is the primary condition</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>05 April, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>32 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <!-- Single blog -->
                        <div class="single-blog iframe">
                            <div class="blog-head">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://player.vimeo.com/video/17808185?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="640" height="360"></iframe>
                                </div>
                            </div>
                            <div class="blog-bottom">
                                <h4><a href="blog-single.html">10 most Powerfull webste for learn Web design</a></h4>
                                <p>Consectetur adipiscing elit. Duis tincidunt mauris ac aliquet congue. Donec vestibulum consequat cursus. Aliquam pellentesque nulla dolor in imperdiet.</p>
                                <ul class="blog-meta">
                                    <li><i class="fa fa-calendar"></i>23 March, 2018</li>
                                    <li><a href="#"><i class="fa fa-comments"></i>92 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Single blog -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <div class="pagination-main">
                            <ul class="pagination">
                                <li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!--/ End Pagination -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <!-- Blog Sidebar -->
                <div class="blog-sidebar">
                    <!-- Post Tab -->
                    <div class="single-sidebar post-tab">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#popular" role="tab">Popular</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#recent" role="tab">Recent</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured</a></li>
                        </ul>
                        <!--/ End Tab Nav -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Popular Posts -->
                            <div class="tab-pane fade show active" id="popular" role="tabpanel">
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive2.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">How to Earn Huge Money Without any Investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>09 May, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive1.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">10 Awesome Ways for Start Your Own Website</a></h4>
                                        <p><i class="fa fa-calendar"></i>05 July, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive3.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Why buying a big house is a bad investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>10 April, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive4.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Styles come and go. Design is a language</a></h4>
                                        <p><i class="fa fa-tag"></i>23 April, 2018</p>
                                    </div>
                                </div>
                                <!-- Single Post -->
                            </div>
                            <!--/ End Popular Posts -->
                            <!-- Popular Posts -->
                            <div class="tab-pane fade" id="recent" role="tabpanel">
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive1.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">10 Awesome Ways for Start Your Own Website</a></h4>
                                        <p><i class="fa fa-calendar"></i>05 July, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive2.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">How to Earn Huge Money Without any Investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>09 May, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive4.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Styles come and go. Design is a language</a></h4>
                                        <p><i class="fa fa-tag"></i>23 April, 2018</p>
                                    </div>
                                </div>
                                <!-- Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive3.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Why buying a big house is a bad investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>10 April, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                            </div>
                            <!--/ End Popular Posts -->
                            <!-- Popular Posts -->
                            <div class="tab-pane fade" id="featured" role="tabpanel">
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive2.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">How to Earn Huge Money Without any Investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>09 May, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive4.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Styles come and go. Design is a language</a></h4>
                                        <p><i class="fa fa-tag"></i>23 April, 2018</p>
                                    </div>
                                </div>
                                <!-- Single Post -->
                                <!-- Single Post -->
                                <div class="single-post">
                                    <div class="post-img">
                                        <img src="images/blog/blog-archive3.jpg" alt="#">
                                    </div>
                                    <div class="post-info">
                                        <h4><a href="blog-single.html">Why buying a big house is a bad investment</a></h4>
                                        <p><i class="fa fa-calendar"></i>10 April, 2018</p>
                                    </div>
                                </div>
                                <!--/ End Single Post -->
                            </div>
                            <!--/ End Popular Posts -->
                        </div>
                    </div>
                    <!--/ End Post Tab -->
                    <!-- Blog Category -->
                    <div class="single-sidebar categorys">
                        <h2>Blog Categorys</h2>
                        <ul>
                            <li><a href="#">Creative<span>20</span></a></li>
                            <li><a href="#">Information<span>32</span></a></li>
                            <li><a href="#">Design</a><span>41</span></li>
                            <li><a href="#">Resource</a><span>39</span></li>
                            <li><a href="#">Training</a><span>15</span></li>
                            <li><a href="#">Development</a><span>23</span></li>
                            <li><a href="#">Marketing</a><span>83</span></li>
                        </ul>
                    </div>
                    <!--/ End Blog Category -->
                    <!-- Photo Gallery -->
                    <div class="single-sidebar photo">
                        <h2>Photo Gallery</h2>
                        <ul>
                            <li><a href="images/gallery-1.jpg" data-fancybox="photo"><img src="images/gallery-1.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-2.jpg" data-fancybox="photo"><img src="images/gallery-2.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-3.jpg" data-fancybox="photo"><img src="images/gallery-3.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-4.jpg" data-fancybox="photo"><img src="images/gallery-4.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-5.jpg" data-fancybox="photo"><img src="images/gallery-5.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-6.jpg" data-fancybox="photo"><img src="images/gallery-6.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-7.jpg" data-fancybox="photo"><img src="images/gallery-7.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-8.jpg" data-fancybox="photo"><img src="images/gallery-8.jpg" alt="#"></a></li>
                            <li><a href="images/gallery-9.jpg" data-fancybox="photo"><img src="images/gallery-9.jpg" alt="#"></a></li>
                        </ul>
                    </div>
                    <!--/ End Photo Gallery -->
                    <!-- Blog Tags -->
                    <div class="single-sidebar tags">
                        <h2>Popular Tags</h2>
                        <ul>
                            <li><a href="#">Website</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Smooth</a></li>
                            <li><a href="#">Html5</a></li>
                            <li><a href="#">Awesome</a></li>
                            <li><a href="#">Animation</a></li>
                            <li><a href="#">Design</a></li>
                        </ul>
                    </div>
                    <!--/ End Blog Tags -->
                    <!-- Subscribe -->
                    <div class="single-sidebar subscribe">
                        <h2>Newsletter</h2>
                        <p>Subscribe to our monthly newsletter. Every month we'll send you an awesome update!</p>
                        <div class="single-widget subscribe">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--/ End Subscribe -->
                </div>
                <!--/ End Blog Sidebar -->
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Archive -->
