@page "/news"
<link href="css/news.css" rel="stylesheet" />

<!-- Blog Archive -->
<section class="blogs grid-sidebar archive section">
    <div class="container">
        <div class="row page-header">
            <h5><i class="fa fa-play"></i> Top News</h5>
        </div>
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="row" id="list-news-post">
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <div class="pagination-main">
                            <ul class="pagination">
                                <li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!--/ End Pagination -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <!-- Blog Sidebar -->
                <div class="blog-sidebar">
                    <!-- Post Tab -->
                    <div class="single-sidebar post-tab">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#list-random-news-post" role="tab">Random</a></li>
                        </ul>
                        <!--/ End Tab Nav -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Radom Posts -->
                            <div class="tab-pane fade show active" id="list-random-news-post" role="tabpanel">

                            </div>
                            <!--/ End Random Posts -->
                        </div>
                    </div>
                    <!--/ End Post Tab -->
                    <!-- Blog Category -->
                    <div class="single-sidebar categorys">
                        <h2>Blog Categorys</h2>
                        <ul>
                            <li><a href="#">Creative<span>20</span></a></li>
                            <li><a href="#">Information<span>32</span></a></li>
                            <li><a href="#">Design</a><span>41</span></li>
                            <li><a href="#">Resource</a><span>39</span></li>
                            <li><a href="#">Training</a><span>15</span></li>
                            <li><a href="#">Development</a><span>23</span></li>
                            <li><a href="#">Marketing</a><span>83</span></li>
                        </ul>
                    </div>
                    <!--/ End Blog Category -->
                    <!-- Blog Tags -->
                    <div class="single-sidebar tags">
                        <h2>Popular Tags</h2>
                        <ul>
                            <li><a href="#">Website</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Smooth</a></li>
                            <li><a href="#">Html5</a></li>
                            <li><a href="#">Awesome</a></li>
                            <li><a href="#">Animation</a></li>
                            <li><a href="#">Design</a></li>
                        </ul>
                    </div>
                    <!--/ End Blog Tags -->
                    <!-- Subscribe -->
                    <div class="single-sidebar subscribe">
                        <h2>Newsletter</h2>
                        <p>Subscribe to our monthly newsletter. Every month we'll send you an awesome update!</p>
                        <div class="single-widget subscribe">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--/ End Subscribe -->
                </div>
                <!--/ End Blog Sidebar -->
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Archive -->
@section Scripts
{
    <script type="text/javascript" src="~/js/news.js"></script>
    <script type="text/javascript">
        fetchNewsBlog();
        fetchRandomNewsBlog();
    </script>
}
