@page "/news"
<link href="css/news.css" rel="stylesheet" />

<!-- Blog Archive -->
<section class="blogs grid-sidebar archive section">
    <div class="container">
        <div class="row page-header">
            <h5><i class="fa fa-play"></i> Top News</h5>
        </div>
        <div class="row">
            <div class="col-lg-9 col-12" id="list-news-post">
                <div class="row" id="list-news-post-container">
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <!-- Blog Sidebar -->
                <div class="blog-sidebar">
                    <!-- Post Tab -->
                    <div class="single-sidebar post-tab">
                        <!-- Tab Nav -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#list-random-news-post" role="tab">Random</a></li>
                        </ul>
                        <!--/ End Tab Nav -->
                        <div class="tab-content" id="myTabContent">
                            <!-- Radom Posts -->
                            <div class="tab-pane fade show active" id="list-random-news-post" role="tabpanel">

                            </div>
                            <!--/ End Random Posts -->
                        </div>
                    </div>
                    <!--/ End Post Tab -->
                    <!-- Blog Tags -->
                    <div class="single-sidebar tags">
                        <h2>Popular Tags</h2>
                        <ul>
                            <li><a href="#">Notice</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Recuitment</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                    <!--/ End Blog Tags -->
                    <!-- Subscribe -->
                    <div class="single-sidebar subscribe">
                        <h2>Newsletter</h2>
                        <p>Subscribe to our monthly newsletter. Every month we'll send you an awesome update!</p>
                        <div class="single-widget subscribe">
                            <form action="#">
                                <input placeholder="Email Address" type="email">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--/ End Subscribe -->
                </div>
                <!--/ End Blog Sidebar -->
            </div>
        </div>
    </div>
</section>
<!--/ End Blog Archive -->
@section Scripts
    {
    <script type="text/javascript" src="~/js/news.js"></script>
    <script type="text/javascript">fetchNewsBlog();
        fetchRandomNewsBlog();</script>
}
