@import 'assets/styles/mixins.scss';
.wrapper_class {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $gray-border;
}
.toolbar_class {
  background-color: black;
  height: auto;
}
.editor_class {
  padding: 1em 0;
}
