@font-face {
	font-family: 'RixSGo';
	src: url('RixSGo/RixSGoM.eot');
	src: local('※'),
		 url('RixSGo/RixSGoMd41d.eot?#iefix') format('embedded-opentype'),
		 url('RixSGo/RixSGoM.html') format('woff2'),
		 url('RixSGo/RixSGoM.woff') format('woff'),
		 url('RixSGo/RixSGoM.ttf') format('truetype'),
		 url('RixSGo/RixSGoM.svg#RixSGoM') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RixSGo';
	src: url('RixSGo/RixSGoEB.eot');
	src: local('※'),
		 url('RixSGo/RixSGoEBd41d.eot?#iefix') format('embedded-opentype'),
		 url('RixSGo/RixSGoEB.html') format('woff2'),
		 url('RixSGo/RixSGoEB.woff') format('woff'),
		 url('RixSGo/RixSGoEB.ttf') format('truetype'),
		 url('RixSGo/RixSGoEB.svg#RixSGoEB') format('svg');
	font-weight: bold;
	font-style: normal;
}