<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta HTTP-EQUIV='Content-Type' content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YG FAMILY'S LOVER</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/static-images/favicon-3.png" asp-append-version="true">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" asp-append-version="true">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true">
    <!-- Animate Text CSS -->
    <link rel="stylesheet" href="~/css/animate-text.css" asp-append-version="true">
    <!-- Icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css" asp-append-version="true">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
    <!-- Jquery Ui CSS -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/css/flex-slider.min.css" asp-append-version="true">
    <!-- Dzs Parallaxer CSS -->
    <link rel="stylesheet" href="~/css/dzsparallaxer.min.css" asp-append-version="true">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true">
    <!-- Youtube Player CSS -->
    <link rel="stylesheet" href="~/css/ytplayer.min.css" asp-append-version="true">
    <!-- FancyBox CSS -->
    <link rel="stylesheet" href="~/css/fancybox.min.css" asp-append-version="true">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/niceselect.css" asp-append-version="true">
    <!-- Cube Portfolio CSS -->
    <link rel="stylesheet" href="~/css/cubeportfolio.min.css" asp-append-version="true">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

    <!-- Pagination CSS -->
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true">
    <!-- Trendbiz CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

    @RenderSection("Styles", required: false)

    <!-- Trendbiz Color -->
    <link rel="stylesheet" href="~/css/skin/skin6.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true">
</head>
<body id="bg">
    <div id="layout">
        <!-- Header -->
        <header class="header">
            <!-- End Topbar -->
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/images/logo.png" alt="logo"></a>
                            </div>
                            <!--/ End Logo -->
                            <div class="mobile-nav">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-10 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu navbar-nav">
                                                <li class="nav_notice"><a href="/notices" class="">NOTICE</a></li>
                                                <li class="nav_network"><a href="/news" class="">NEWS</a></li>
                                                <li class="nav_artists"><a href="#" class="ir">ARTISTS</a></li>
                                                <li class="nav_actors"><a href="#" class="ir">RECUITMENT</a></li>
                                                <li class="nav_talents"><a href="#" class="">DONATE</a></li>
                                                <li class="nav_media"><a href="#" class="">ABOUT US</a></li>
                                                <li class="nav_audition"><a href="#" class="">CONTACT US</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
            <!-- Sidebar Area -->
            <div class="side-area">
                <div class="cross">
                    <a class="btn"><i class="fa fa-remove"></i></a>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" alt="Logo"></a>
                </div>
                <!--/ End Logo -->
                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <li class="nav_notice"><a href="/notices" class="">NOTICE</a></li>
                    <li class="nav_network"><a href="/news" class="">NEWS</a></li>
                    <li class="nav_artists"><a href="#" class="ir">ARTISTS</a></li>
                    <li class="nav_actors"><a href="#" class="ir">RECUITMENT</a></li>
                    <li class="nav_talents"><a href="#" class="">DONATE</a></li>
                    <li class="nav_media"><a href="#" class="">ABOUT US</a></li>
                    <li class="nav_audition"><a href="#" class="">CONTACT US</a></li>
                </ul>
                <!--/ End Menu -->
                <!-- Side Bottom -->
                <div class="side-bottom">
                    <ul class="social">
                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                    </ul>
                    <p class="copyright">©2018 <a href="#">TrendBiz</a></p>
                </div>
                <!-- End Side Bottom -->
            </div>
            <!--/ End Sidebar Area -->
        </header>
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- About Widget -->
                            <div class="single-widget about">
                                <img src="/images/logo.png" alt="#">
                                <p>
                                    1st Vietnam fanpage of YG Family has YG Vietsub which is the most subscribed channel on Youtube of YG's Lovers in this country
                                </p>
                                <ul class="social">
                                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End About Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Links Widget -->
                            <div class="single-widget links">
                                <h2>Explore Link</h2>
                                <ul class="list">
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Recuitment</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Donate</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Download</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Vietsub</a></li>
                                </ul>
                            </div>
                            <!--/ End Links Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Posts Widget -->
                            @*<div class="single-widget posts">
                                    <h2>Latest Posts</h2>
                                    <ul>
                                        <li><img src="~/images/blog/blog1.jpg" alt="#"><a href="blog-single.html">Modern & Creative templates for any business</a></li>
                                        <li><img src="~/images/blog/blog2.jpg" alt="#"><a href="blog-single.html">10 Awesome Ways for Start Your Own Website</a></li>
                                        <li><img src="~/images/blog/blog3.jpg" alt="#"><a href="blog-single.html">We Make High Quality Website Template & Themes</a></li>
                                    </ul>
                                </div>*@
                            <!--/ End Posts Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Address Widget -->
                            <div class="single-widget address">
                                <h2>Our Information</h2>
                                <ul class="list">
                                    <li><i class="icofont icofont-phone"></i>034 229 3066</li>
                                    <li><i class="icofont icofont-ui-email"></i><a href="mailto:ygflofficial@gmail.com">ygflofficial@gmail.com</a></li>
                                </ul>
                            </div>
                            <!--/ End Address Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright -->
                            <div class="copyright">
                                <p>&copy; All Right Reserved. Design By <a href="#">YGFL</a></p>
                            </div>
                            <!--/ End Copyright -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/ End footer -->
    </div>
    <!-- Jquery JS -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-migrate.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- Modernizer JS -->
    <script src="~/js/modernizr.min.js" asp-append-version="true"></script>
    <!-- Particles JS -->
    <script src="~/js/particles.min.js" asp-append-version="true"></script>
    <script src="~/js/particle-active.js" asp-append-version="true"></script>
    <!-- Theme Plugins JS -->
    <script src="~/js/theme-plugins.js" asp-append-version="true"></script>
    <!-- TrenBiz Option -->
    <script src="~/js/trendbiz-option.js" asp-append-version="true"></script>
    <!-- Main JS -->
    <script src="~/js/pagination.min.js" asp-append-version="true"></script>
    @*<script src="~/js/main.js"></script>*@
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" asp-append-version="true"></script>

    <environment names="Development">
        <script src="~/js/configuration.js" asp-append-version="true" asp-></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/configuration_prod.js" asp-append-version="true" asp-></script>
    </environment>

    <script type="text/javascript">$('.main-menu').slicknav({
            prependTo: ".mobile-nav",
        });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
