<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta HTTP-EQUIV='Content-Type' content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Doitsu.Fandom.Client_Homepage</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Animate Text CSS -->
    <link rel="stylesheet" href="~/css/animate-text.css">
    <!-- Icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Jquery Ui CSS -->
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/css/flex-slider.min.css">
    <!-- Dzs Parallaxer CSS -->
    <link rel="stylesheet" href="~/css/dzsparallaxer.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Youtube Player CSS -->
    <link rel="stylesheet" href="~/css/ytplayer.min.css">
    <!-- FancyBox CSS -->
    <link rel="stylesheet" href="~/css/fancybox.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/niceselect.css">
    <!-- Cube Portfolio CSS -->
    <link rel="stylesheet" href="~/css/cubeportfolio.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Trendbiz CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/responsive.css">
    @RenderSection("Styles", required: false)

    <!-- Trendbiz Color -->
    <link rel="stylesheet" href="~/css/skin/skin6.css">
    <link rel="stylesheet" href="~/css/general.css">
</head>
<body id="bg">
    <div id="layout">
        <!-- Header -->
        <header class="header">
            <!-- End Topbar -->
            <!-- Header Inner -->
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-12">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                            </div>
                            <!--/ End Logo -->
                            <div class="mobile-nav">
                                <div class="slicknav_menu">
                                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">
                                        <li class="active slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Home<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li><a href="index.html" role="menuitem" tabindex="-1">Homepage V1</a></li>
                                                <li><a href="index2.html" role="menuitem" tabindex="-1">Homepage V2</a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Pages<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li><a href="about.html" role="menuitem" tabindex="-1">About Us</a></li>
                                                <li><a href="timeline.html" role="menuitem" tabindex="-1">Timeline</a></li>
                                                <li><a href="pricing.html" role="menuitem" tabindex="-1">Pricing Plans</a></li>
                                                <li><a href="faq.html" role="menuitem" tabindex="-1">Faqs</a></li>
                                                <li><a href="404.html" role="menuitem" tabindex="-1">Error Page</a></li>
                                                <li><a href="coming-soon.html" role="menuitem" tabindex="-1">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Services<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li><a href="services.html" role="menuitem" tabindex="-1">Our Services</a></li>
                                                <li class="slicknav_collapsed slicknav_parent">
                                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                        <a href="#" tabindex="-1">Services Single<i class="fa fa-angle-right"></i></a>
                                                        <span class="slicknav_arrow">►</span>
                                                    </a><ul class="dropdown sub-dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                        <li><a href="service-single.html" role="menuitem" tabindex="-1">Service Single</a></li>
                                                        <li><a href="service-single-gallery.html" role="menuitem" tabindex="-1">Service Single Gallery</a></li>
                                                        <li><a href="service-single-video.html" role="menuitem" tabindex="-1">Service Single Video</a></li>
                                                        <li><a href="service-single-full.html" role="menuitem" tabindex="-1">Service Single Full</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Portfolio<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li class="slicknav_collapsed slicknav_parent">
                                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                        <a href="#" tabindex="-1">Portfolio<i class="fa fa-angle-right"></i></a>
                                                        <span class="slicknav_arrow">►</span>
                                                    </a><ul class="dropdown sub-dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                        <li><a href="portfolio-full.html" role="menuitem" tabindex="-1">Portfolio Full With</a></li>
                                                        <li><a href="portfolio-masonry.html" role="menuitem" tabindex="-1">Portfolio Full Masonry</a></li>
                                                        <li><a href="portfolio.html" role="menuitem" tabindex="-1">Portfolio 3 Column</a></li>
                                                        <li><a href="portfolio-2-column.html" role="menuitem" tabindex="-1">Portfolio 2 Column</a></li>
                                                    </ul>
                                                </li>
                                                <li class="slicknav_collapsed slicknav_parent">
                                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                        <a href="#" tabindex="-1">Portfolio Single<i class="fa fa-angle-right"></i></a>
                                                        <span class="slicknav_arrow">►</span>
                                                    </a><ul class="dropdown sub-dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                        <li><a href="portfolio-single.html" role="menuitem" tabindex="-1">Portfolio Single</a></li>
                                                        <li><a href="portfolio-single-gallery.html" role="menuitem" tabindex="-1">Portfolio Single Gallery</a></li>
                                                        <li><a href="portfolio-single-video.html" role="menuitem" tabindex="-1">Portfolio Single Video</a></li>
                                                        <li><a href="portfolio-single-full.html" role="menuitem" tabindex="-1">Portfolio Single Full</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Blog<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li><a href="blog-grid.html" role="menuitem" tabindex="-1">Blog Grid</a></li>
                                                <li><a href="blog-grid-sidebar.html" role="menuitem" tabindex="-1">Blog Grid Sidebar</a></li>
                                                <li><a href="blog-list.html" role="menuitem" tabindex="-1">Blog List</a></li>
                                                <li><a href="blog.html" role="menuitem" tabindex="-1">Blog List Sidebar</a></li>
                                                <li><a href="blog-single.html" role="menuitem" tabindex="-1">Blog Single</a></li>
                                                <li><a href="blog-single-gallery.html" role="menuitem" tabindex="-1">Blog Single Gallery</a></li>
                                                <li><a href="blog-single-video.html" role="menuitem" tabindex="-1">Blog Single Video</a></li>
                                            </ul>
                                        </li>
                                        <li class="slicknav_collapsed slicknav_parent">
                                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                                <a href="#" tabindex="-1">Shop<i class="fa fa-angle-down"></i></a>
                                                <span class="slicknav_arrow">►</span>
                                            </a><ul class="dropdown slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                <li><a href="shop-grid.html" role="menuitem" tabindex="-1">Shop Grid</a></li>
                                                <li><a href="shop-list.html" role="menuitem" tabindex="-1">Shop List</a></li>
                                                <li><a href="shop-single.html" role="menuitem" tabindex="-1">Shop Single</a></li>
                                                <li><a href="cart.html" role="menuitem" tabindex="-1">Cart</a></li>
                                                <li><a href="checkout.html" role="menuitem" tabindex="-1">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-9 col-md-10 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu navbar-nav">
                                                <li class="nav_notice"><a href="/notices" class="">NOTICE</a></li>
                                                <li class="nav_network"><a href="/news" class="">BLOGS</a></li>
                                                <li class="nav_artists"><a href="/vietsub" class="ir">ARTIST</a></li>
                                                <li class="nav_actors"><a href="#" class="ir">RECUITMENT</a></li>
                                                <li class="nav_talents"><a href="#" class="">DONATE</a></li>
                                                <li class="nav_media"><a href="#" class="">ABOUT US</a></li>
                                                <li class="nav_audition"><a href="#" class="">CONTACT US</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Header Inner -->
            <!-- Sidebar Area -->
            <div class="side-area">
                <div class="cross">
                    <a class="btn"><i class="fa fa-remove"></i></a>
                </div>
                <!-- Logo -->
                <div class="logo">
                    <a href="index-2.html"><img src="~/images/logo.png" alt="Logo"></a>
                </div>
                <!--/ End Logo -->
                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Our Services</a></li>
                    <li><a href="portfolio.html">Our Portfolio</a></li>
                    <li><a href="shop.html">Our Product</a></li>
                    <li><a href="blog.html">Latest News</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!--/ End Menu -->
                <!-- Side Bottom -->
                <div class="side-bottom">
                    <ul class="social">
                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                        <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                    </ul>
                    <p class="copyright">©2018 <a href="#">TrendBiz</a></p>
                </div>
                <!-- End Side Bottom -->
            </div>
            <!--/ End Sidebar Area -->
        </header>
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- About Widget -->
                            <div class="single-widget about">
                                <img src="~/images/logo.png" alt="#">
                                <p>
                                    1st Vietnam fanpage of YG Family has YG Vietsub which is the most subscribed channel on Youtube of YG's Lovers in this country
                                </p>
                                <ul class="social">
                                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End About Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <!-- Links Widget -->
                            <div class="single-widget links">
                                <h2>Explore Link</h2>
                                <ul class="list">
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Recuitment</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Donate</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Download</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i>Vietsub</a></li>
                                </ul>
                            </div>
                            <!--/ End Links Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Posts Widget -->
                            @*<div class="single-widget posts">
                                <h2>Latest Posts</h2>
                                <ul>
                                    <li><img src="~/images/blog/blog1.jpg" alt="#"><a href="blog-single.html">Modern & Creative templates for any business</a></li>
                                    <li><img src="~/images/blog/blog2.jpg" alt="#"><a href="blog-single.html">10 Awesome Ways for Start Your Own Website</a></li>
                                    <li><img src="~/images/blog/blog3.jpg" alt="#"><a href="blog-single.html">We Make High Quality Website Template & Themes</a></li>
                                </ul>
                            </div>*@
                            <!--/ End Posts Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Address Widget -->
                            <div class="single-widget address">
                                <h2>Our Information</h2>
                                <ul class="list">
                                    <li><i class="icofont icofont-phone"></i>034 229 3066</li>
                                    <li><i class="icofont icofont-ui-email"></i><a href="mailto:ygflofficial@gmail.com">ygflofficial@gmail.com</a></li>
                                </ul>
                            </div>
                            <!--/ End Address Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Copyright -->
                            <div class="copyright">
                                <p>&copy; All Right Reserved. Design By <a href="#">YGFL</a></p>
                            </div>
                            <!--/ End Copyright -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/ End footer -->
    </div>
    <!-- Jquery JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/js/modernizr.min.js"></script>
    <!-- Particles JS -->
    <script src="~/js/particles.min.js"></script>
    <script src="~/js/particle-active.js"></script>
    <!-- Theme Plugins JS -->
    <script src="~/js/theme-plugins.js"></script>
    <!-- TrenBiz Option -->
    <script src="~/js/trendbiz-option.js"></script>
    <!-- Main JS -->
    @*<script src="~/js/main.js"></script>*@
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="~/js/configuration.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
