@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="css/index.css">
<!--/ End Header -->
<!-- Hero Area -->
<section class="hero-area container">
    <div class="hero-slider" id="hero-slider-mapping">
    </div>
</section>
<!--/ End Hero Area -->
<!-- Blog & Faqs -->
<section class="multi-section section container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="faqs-main">
                    <div class="section-title text-left">
                        <h2><a href="#">Notices</a></h2>
                    </div>
                    <!-- Notices Area -->
                    <div class="list-group" id="list-notices">


                    </div>
                    <!--/ End Noties Area -->
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="faqs-main">
                    <div class="section-title text-left">
                        <h2><a href="#">News</a></h2>
                    </div>
                    <!-- Notices Area -->
                    <div class="list-group" id="list-news">


                    </div>
                    <!--/ End Noties Area -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog & Faqs -->
<!-- Services -->
<section class="services section container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Advertising</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service-slider">
                    <!-- Single Service -->
                    <div class="single-service" style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/16/2017/10/03170150/master-facebook-left-image-966-x-1250-791x1024.png)">
                        <a class="btn-advertising" href="service-single.html"></a>
                    </div>
                    <!--/ End Single Service -->
                    <!-- Single Service -->
                    <div class="single-service" style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2016/11/08113103/Screen-Shot-2016-11-08-at-11.29.49-AM.png)">
                        <a class="btn-advertising" href="service-single.html"></a>
                    </div>
                    <!--/ End Single Service -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Services -->
<!-- Newsletter -->
<section class="newsletter overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <h2>Subscribe To Newsletter</h2>
                <p>Every week Get our latest update to your email.</p>
            </div>
            <div class="col-lg-8 col-12">
                <!-- Form -->
                <form class="form" action="#">
                    <div class="form-group">
                        <i class="fa fa-user-circle-o"></i>
                        <input name="name" placeholder="Your Name" required="required" type="text">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope-open-o"></i>
                        <input name="email" placeholder="Your Email" required="required" type="email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button primary"><i class="fa fa-paper-plane"></i>Subscribe</button>
                    </div>
                </form>
                <!--/ End Form -->
            </div>
        </div>
    </div>
</section>
<!--/ End Newsletter -->
@section scripts {
    <script src="js/index.js"></script>
}