@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="css/index.css">
<!--/ End Header -->
<!-- Hero Area -->
<section class="hero-area">
    <div class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('http://ygfamily.com/upload/main/20181112_jennie_kr.jpg')">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <div class="slider-text">
                            <div class="text-inner">
                                <span class="short">Clean & Modern</span>
                                <h1>We Make High <span>Quality Business</span> Template</h1>
                                <p>Fusce vestibulum finibus lobortis. Nam vitae condimentum ante. Sed in dignissim nisl. Integer vel sapien eget magna blandit dictum Mauris euismod</p>
                                <div class="button">
                                    <a href="about.html" class="btn icon">About Our Company<i class="fa fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('http://ygfamily.com/upload/main/20181126_mino_kr.jpg')">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <div class="slider-text align-middle">
                            <div class="text-inner">
                                <span class="short">Are you ready?</span>
                                <h1>A Perfect Theme to <span>Represent Business</span></h1>
                                <p>Fusce vestibulum finibus lobortis. Nam vitae condimentum ante. Sed in dignissim nisl. Integer vel sapien eget magna blandit dictum</p>
                                <div class="button">
                                    <a href="https://www.youtube.com/watch?v=FZQPhrdKjow" class="btn play video-popup mfp-fade"><i class="fa fa-play"></i>Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('http://ygfamily.com/upload/main/20181211_seungri_kr.jpg')">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-5 col-12">
                        <div class="slider-text align-right">
                            <div class="text-inner text-right">
                                <span class="short">Clean & Modern</span>
                                <h1>We Make High <span>Quality Business</span> Template</h1>
                                <p>Fusce vestibulum finibus lobortis. Nam vitae condimentum ante. Sed in dignissim nisl. Integer vel sapien eget magna blandit dictum Mauris euismod</p>
                                <div class="button">
                                    <a href="portfolio.html" class="btn icon">View Our Portfolio<i class="fa fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--/ End Single Slider -->
    </div>
</section>
<!--/ End Hero Area -->
<!-- Blog & Faqs -->
<section class="multi-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="faqs-main">
                    <div class="section-title text-left">
                        <h2>Latest Notices</h2>
                    </div>
                    <!-- Faqs Area -->
                    <div class="faq-area">
                        <div id="accordion-one" role="tablist">
                            <!-- Single Faq -->
                            <div class="single-faq active">
                                <div class="faq-heading" role="tab">
                                    <h4 class="faq-title">
                                        <a data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1"><i class="fa fa-shopping-basket"></i>How can i purchase a theme?</a>
                                    </h4>
                                </div>
                                <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="faq1" data-parent="#accordion-one">
                                    <div class="faq-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid</p>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                            <!-- Single Faq -->
                            <div class="single-faq">
                                <div class="faq-heading" role="tab">
                                    <h4 class="faq-title">
                                        <a data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2"><i class="fa fa-bullseye"></i>Can i upgrade my package?</a>
                                    </h4>
                                </div>
                                <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="faq2" data-parent="#accordion-one">
                                    <div class="faq-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid</p>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                    </div>
                    <!--/ End Faqs Area -->
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="faqs-main">
                    <div class="section-title text-left">
                        <h2>News</h2>
                    </div>
                    <!-- Faqs Area -->
                    <div class="faq-area">
                        <div id="accordion-two" role="tablist">
                            <!-- Single Faq -->
                            <div class="single-faq active">
                                <div class="faq-heading" role="tab">
                                    <h4 class="faq-title">
                                        <a data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3"><i class="fa fa-shopping-basket"></i>How can i purchase a theme?</a>
                                    </h4>
                                </div>
                                <div id="collapse-3" class="collapse show" role="tabpanel" aria-labelledby="faq1" data-parent="#accordion-two">
                                    <div class="faq-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid</p>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                            <!-- Single Faq -->
                            <div class="single-faq">
                                <div class="faq-heading" role="tab" id="faq2">
                                    <h4 class="faq-title">
                                        <a data-toggle="collapse" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4"><i class="fa fa-bullseye"></i>Can i upgrade my package?</a>
                                    </h4>
                                </div>
                                <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="faq2" data-parent="#accordion-two">
                                    <div class="faq-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid</p>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Single Faq -->
                        </div>
                    </div>
                    <!--/ End Faqs Area -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Blog & Faqs -->
<!-- Services -->
<section class="services section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Advertising</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service-slider">
                    <!-- Single Service -->
                    <div class="single-service" style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/16/2017/10/03170150/master-facebook-left-image-966-x-1250-791x1024.png)">
                        <a class="btn-advertising" href="service-single.html"></a>
                    </div>
                    <!--/ End Single Service -->
                    <!-- Single Service -->
                    <div class="single-service" style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2016/11/08113103/Screen-Shot-2016-11-08-at-11.29.49-AM.png)">
                        <a class="btn-advertising" href="service-single.html"></a>
                    </div>
                    <!--/ End Single Service -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Services -->
<!-- Newsletter -->
<section class="newsletter overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <h2>Subscribe To Newsletter</h2>
                <p>Every week Get our latest update to your email.</p>
            </div>
            <div class="col-lg-8 col-12">
                <!-- Form -->
                <form class="form" action="#">
                    <div class="form-group">
                        <i class="fa fa-user-circle-o"></i>
                        <input name="name" placeholder="Your Name" required="required" type="text">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope-open-o"></i>
                        <input name="email" placeholder="Your Email" required="required" type="email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button primary"><i class="fa fa-paper-plane"></i>Subscribe</button>
                    </div>
                </form>
                <!--/ End Form -->
            </div>
        </div>
    </div>
</section>
<!--/ End Newsletter -->
@section scripts {
    <script type="text/javascript">
        $('.hero-slider').owlCarousel({
            items:1,
            autoplay:true,
            autoplayHoverPause:true,
            autoplayTimeout:4000,
            smartSpeed:600,
            merge:true,
            nav:true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            dots:true,
            loop:true,
            responsive:{
                300: {
                    nav:false,
                },
                480: {
                    nav:false,
                },
                768: {
                    nav:false,
                },
                1170: {
                    nav:true,
                },
            }
        });

        $(".service-slider").owlCarousel({
            autoplay:true,
            smartSpeed: 500,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            dots:false,
            nav:true,
            loop:true,
            margin:10,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            responsive:{
                300: {
                    items:1,
                },
                480: {
                    items:2,
                },
                768: {
                    items:2,
                },
                1170: {
                    nav:true,
                    items:4,
                },
            }
        });

    </script>
}