@page "/thong-bao"

<div id="content">
    <div class="header_area">
        <h2 class="title">NOTICE</h2>
        <div class="location">
            <ol>
                <li class="home"><a href="../index0481.html?LANGDIV=J">Home</a></li>
                <li>Notice</li>
            </ol>
        </div>
    </div>

    <div class="detail_area">
        <div class="section_notice">
            <div class="content">
                <div class="header">
                    <div class="tab_list">
                        <ul>
                            <li class="ygfamily"><a href="#" class='on'>YG FAMILY Viet Nam</a></li>
                        </ul>
                    </div>
                    <div class="sch_txt">
                        <!--Search Area-->
                        <div class="search">
                            <form name="frm" method="get" action="http://ygfamily.com/notice/NList.asp">
                                <input type="hidden" name="LANGDIV" id="LANGDIV" value="J">
                                <input type="hidden" name="Page" id="Page" value="9">
                                <input type="hidden" name="n2PageSize" id="n2PageSize" value="8">
                                <input type="hidden" name="IDX" id="IDX" value="10310">
                                <input type="hidden" name="sType" id="sType" value="A">
                                <fieldset>
                                    <legend class="blind">notice 검색</legend>
                                    <select name="SchKey" id="SchKeyNotice" class="yg-select" style="width:100px;">
                                        <option value="" selected>ALL</option>
                                        <option value="1">TITLE</option>
                                        <option value="2">CONTENTS</option>
                                    </select>
                                    <input type="text" name="SchTitleN" id="SchTitleNotice" title="검색어 입력" class="input_txt" style="width:120px" value="" onKeyPress="if (event.keyCode=='13') Fn_SearchNotice();">
                                    <input type="text" style="display: none;width:0px;height:0px;display:none;">
                                    <a href="javascript:Fn_SearchNotice();" class="btn btn-light">Search</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="list_cont">
                    <div class="list_cont_header">
                        <span class="list_num">No</span>
                        <span class="list_txt">Title / Date</span>
                    </div>
                    <dl class="list_cont_group ">
                        <dt class="list_area" onclick="javascript:Fn_GetInfo('2518');">
                            <span class="list_num">19</span>
                            <span class="list_txt">
                                <a href="javascript:Fn_GetInfo('2518');"><span class="list_tit">8月1日, BIGBANG STILL ALIVE GOODS 発売案内!</span></a>
                                <span class="list_date">2012.08.01</span>
                            </span>
                        </dt>
                        <dd class="list_view">
                            <div class="list_view_file"></div>
                            <div class="list_view_cont"><p><span style="font-family: verdana;">안녕하세요, YG ENTERTAINMENT 입니다.</span></p><p><br></p><p><span style="font-family: verdana;">8월 20일, BIGBANG10 THE CONCERT COLLECTION 발매 안내입니다.</span></p><p><br></p><p><span style="font-family: verdana;">2012년 빅뱅의 첫 해외 월드투어인 `BIGBANG ALIVE GALAXY TOUR`부터</span><br><span style="font-family: verdana;">`BIGBANG WORLD TOUR [MADE]`까지 </span><br><span style="font-family: verdana;">빅뱅이라는 이름 앞에 `최초`, `최고`라는 수식어가 붙어도 어색하지 않을 </span><br><span style="font-family: verdana;">그간의 콘서트 사진이 담긴 `BIGBANG10 THE CONCERT COLLECTION`이 </span><br><span style="font-family: verdana;">오는 8월 20일 발매됩니다. </span></p><p><br></p><p><span style="font-family: verdana;">BIGBANG10 THE CONCERT : 0.TO.10 현장 `음반/DVD/포토북 판매부스`와 </span><br><span style="font-family: verdana;">BIGBANG10 THE EXHIBITION : A TO Z 현장에서 한정 수량 판매될 예정이오니 </span><br><span style="font-family: verdana;">많은 관심 부탁 드립니다.</span></p><p><br></p><p><br><span style="font-family: verdana;">자세한 사항은 아래를 참조해주시기 바랍니다. </span></p><p><br></p><p><br><span style="font-size: 14px;"><strong><span style="font-family: verdana;">♦ BIGBANG10 THE CONCERT COLLECTION ♦</span></strong></span></p><p><br></p><p><strong><span style="color: rgb(255, 0, 0); font-family: verdana;">▶ 발매일 : 2016년 8월 20일 (토)</span></strong><span style="color: rgb(255, 0, 0); font-family: verdana;"> </span><br><span style="font-family: verdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span><span style="color: rgb(255, 0, 0); font-family: verdana;">&nbsp; (BIGBANG10 THE CONCERT : 0.TO.10 현장 음반/DVD/포토북 판매 부스와 </span><br><span style="color: rgb(255, 0, 0); font-family: verdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; BIGBANG10 THE EXHIBITION : A TO Z 현장에서 한정 수량 판매)</span><br><strong><span style="font-family: verdana;">▶ 구 성</span></strong><br><span style="font-family: verdana;">&nbsp;① 포토북 (100 PAGE)</span><br><span style="font-family: verdana;">&nbsp;② 랜덤포토카드 1장</span><br><span style="font-family: verdana;">&nbsp;③ 부채</span><br><span style="font-family: verdana;">*구성은 제작 과정에서 변경될 수 있습니다.&nbsp; </span></p><p><br></p><p><br></p><p><span style="font-family: verdana;">여러분들의 많은 관심과 성원 부탁 드립니다.</span></p><p><br></p><p><span style="font-family: verdana;">감사합니다. </span></p><p><br></p><p><br></p></div>
                        </dd>
                    </dl>
                    <dl class="list_cont_group ">
                        <dt class="list_area" onclick="javascript:Fn_GetInfo('2514');">
                            <span class="list_num">18</span>
                            <span class="list_txt">
                                <a href="javascript:Fn_GetInfo('2514');"><span class="list_tit">8月22日, BIGBANG’S ALIVE 2012 MAKING COLLECTION 発売案内!</span></a>

                                <span class="list_date">2012.08.01</span>
                            </span>
                        </dt>
                        <dd class="list_view">
                            <div class="list_view_file"></div>
                            <div class="list_view_cont"><p><span style="font-family: verdana;">안녕하세요, YG ENTERTAINMENT 입니다.</span></p><p><br></p><p><span style="font-family: verdana;">8월 20일, BIGBANG10 THE CONCERT COLLECTION 발매 안내입니다.</span></p><p><br></p><p><span style="font-family: verdana;">2012년 빅뱅의 첫 해외 월드투어인 `BIGBANG ALIVE GALAXY TOUR`부터</span><br><span style="font-family: verdana;">`BIGBANG WORLD TOUR [MADE]`까지 </span><br><span style="font-family: verdana;">빅뱅이라는 이름 앞에 `최초`, `최고`라는 수식어가 붙어도 어색하지 않을 </span><br><span style="font-family: verdana;">그간의 콘서트 사진이 담긴 `BIGBANG10 THE CONCERT COLLECTION`이 </span><br><span style="font-family: verdana;">오는 8월 20일 발매됩니다. </span></p><p><br></p><p><span style="font-family: verdana;">BIGBANG10 THE CONCERT : 0.TO.10 현장 `음반/DVD/포토북 판매부스`와 </span><br><span style="font-family: verdana;">BIGBANG10 THE EXHIBITION : A TO Z 현장에서 한정 수량 판매될 예정이오니 </span><br><span style="font-family: verdana;">많은 관심 부탁 드립니다.</span></p><p><br></p><p><br><span style="font-family: verdana;">자세한 사항은 아래를 참조해주시기 바랍니다. </span></p><p><br></p><p><br><span style="font-size: 14px;"><strong><span style="font-family: verdana;">♦ BIGBANG10 THE CONCERT COLLECTION ♦</span></strong></span></p><p><br></p><p><strong><span style="color: rgb(255, 0, 0); font-family: verdana;">▶ 발매일 : 2016년 8월 20일 (토)</span></strong><span style="color: rgb(255, 0, 0); font-family: verdana;"> </span><br><span style="font-family: verdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span><span style="color: rgb(255, 0, 0); font-family: verdana;">&nbsp; (BIGBANG10 THE CONCERT : 0.TO.10 현장 음반/DVD/포토북 판매 부스와 </span><br><span style="color: rgb(255, 0, 0); font-family: verdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; BIGBANG10 THE EXHIBITION : A TO Z 현장에서 한정 수량 판매)</span><br><strong><span style="font-family: verdana;">▶ 구 성</span></strong><br><span style="font-family: verdana;">&nbsp;① 포토북 (100 PAGE)</span><br><span style="font-family: verdana;">&nbsp;② 랜덤포토카드 1장</span><br><span style="font-family: verdana;">&nbsp;③ 부채</span><br><span style="font-family: verdana;">*구성은 제작 과정에서 변경될 수 있습니다.&nbsp; </span></p><p><br></p><p><br></p><p><span style="font-family: verdana;">여러분들의 많은 관심과 성원 부탁 드립니다.</span></p><p><br></p><p><span style="font-family: verdana;">감사합니다. </span></p><p><br></p><p><br></p></div>
                        </dd>
                    </dl>

                </div><!-- //list_cont -->
                <div class="paginate">
                    <a href="NListd6f1.html?Page=1&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=" class="pre"><img src='../images/common/btn_arrow_first.gif'></a>
                    <a href="NListd6f1.html?Page=1&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=" class="pre"><img src='../images/common/btn_arrow_left.gif'></a>
                    <a href="NList47a2.html?Page=6&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=">6</a>
                    <a href="NList8175.html?Page=7&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=">7</a>
                    <a href="NLista217.html?Page=8&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=">8</a>
                    <strong>9</strong>
                    <a href="NListf479.html?Page=10&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=">10</a>
                    <a href="NList00fd.html?Page=11&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=" class="next"><img src='../images/common/btn_arrow_right.gif'></a>
                    <a href="NList00fd.html?Page=11&amp;LANGDIV=J&amp;n2PageSize=8&amp;IDX=10310&amp;STYPE=A&amp;SchKey=&amp;SchTitleN=" class="next"><img src='../images/common/btn_arrow_last.gif'></a>
                </div>

                <!-- //new -->
            </div><!-- //content -->
        </div><!-- //section_notice -->
    </div><!-- //detail_area -->
</div><!-- //#content -->