@charset "UTF-8";
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * about yg - common
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section_aboutyg .date {
	color: #969696;
	font-size: 11px;
}

.section_aboutyg .title_menu {
	border: none;
}

/*
.section_aboutyg .header {
	height: 50px;
}
.section_aboutyg .header .tab_list a {
	background: url(/images/company/tab_aboutyg.gif) no-repeat 0 0;
	text-indent: -999em;
}
.section_aboutyg .header .introduction a {
	background-position: 0 0;
}
.section_aboutyg .header .history a {
	background-position: -151px 0;
}
.section_aboutyg .header .ir a {
	background-position: -302px 0;
}
.section_aboutyg .header .introduction a:hover, .section_aboutyg .header .introduction a:focus, .section_aboutyg .header .introduction .on {
	background-position: 0 -29px;
}
.section_aboutyg .header .history a:hover, .section_aboutyg .header .history a:focus, .section_aboutyg .header .history .on {
	background-position: -151px -29px;
}
.section_aboutyg .header .ir a:hover, .section_aboutyg .header .ir a:focus, .section_aboutyg .header .ir .on {
	background-position: -302px -29px;
}
*/

.on {
	cursor: default;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left
}

input,
textarea {
	padding: 5px 5px 3px 5px;
	color: #646464;
	border: 1px solid #C8C8C8;
	background-color: #F0F0F0;
}

input.input_txt {
	height: 18px;
	*height: 16px;
	padding: 0 4px;
	*padding: 2px 4px 0;
	border: 1px solid;
}

/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 721px) {}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 720px) {}

/* ------------------------------
---------------------------------
<Phones> Large screens
---------------------------------
------------------------------ */

@media (max-width: 480px) {}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * introduction
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.aboutyg_gnb {}

.aboutyg_gnb li {
	padding: 10px;
	border-bottom: 1px solid #C8C8C8;
}

.aboutyg_gnb li.on {
	font-weight: 700;
}

.aboutyg_gnb li.on a {
	color: #282828;
}

.aboutyg_gnb li a {
	font-family: "Titillium Web", "RixSGo", sans-serif;
	text-decoration: none;
}

/*
.aboutyg_gnb ul li.depth10 {
  padding: 10px;
}
.aboutyg_gnb ul li.depth21 {
  padding: 0 10px 10px 20px;
  border-bottom: 1px solid #C8C8C8;
  background: url(/images/common/bullet.gif) no-repeat 10px 6px;
}
.aboutyg_gnb ul li.depth20 {
  padding: 0 10px 10px 20px;
  background: url(/images/common/bullet.gif) no-repeat 10px 6px;
}
.introduction_img {
  margin: 50px 0 0 0;
  padding: 0 0 20px 0;
  text-align: center;
  vertical-align: top;
}
.introduction_txt {
  float: left;
  width: 970px;
  padding: 0 0 70px 0;
  margin: 50px 0 0 0;
  vertical-align: top;
}
.introduction_yg_txt {
  float: left;
  width: 220px;
  padding-top: 5px;
  border-top: 2px solid #BE0028;
  text-align: justify;
  vertical-align: top;
  line-height: 150%;
  color: #969696;
}
.introduction_yg_txt p {
  padding: 16px 0 0 0;
}
.introduction_yg_tit {
  font-size: 16px;
  font-weight: bold;
  color: #282828;
}
*/

.aboutyg_area {
	vertical-align: top;
}

.aboutyg_img {
	padding: 50px 0;
	vertical-align: top;
}

.aboutyg_img.statement {
	margin-top: -50px;
}

.aboutyg_img.diagram {
	border-top: 1px solid #C8C8C8;
}

.aboutyg_txt {
	vertical-align: top;
	font-size: 0;
}

.aboutyg_col {
	border-top: 2px solid #BE0028;
	font-size: 10px;
	text-align: justify;
	vertical-align: top;
	line-height: 150%;
}

.colE {
	word-break: keep-all;
}

.aboutyg_col_tit {
	padding-top: 1.5em;
	padding-bottom: 1em;
	font-size: 1.5em;
	font-weight: 700;
}
.aboutyg_spr {
	padding-bottom: 100px;
}
.aboutyg_spr h4 {
	display: inline-block;
	width: 300px;
	height: 30px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}
.aboutyg_spr h5 {}

.aboutyg_spr p {
	word-break: normal;
	word-wrap: break-word;
	line-height: 1.5;
}
.aboutyg_spr .article {
	margin: 50px 0;
	padding-top: 50px;
	border-top: 1px solid #c8c8c8;
}
.aboutyg_spr .article .row {
	margin-top: 25px;
}

.aboutyg_ci {
	padding-bottom: 5em;
}

.aboutyg_ci h4 {
	display: inline-block;
	width: 300px;
	height: 30px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.aboutyg_ci h4.ciTit01 {
	background: url(../../images/company/03_tit01.gif) no-repeat;
}

.aboutyg_ci h4.ciTit02 {
	background: url(../../images/company/03_tit02.gif) no-repeat;
}

.aboutyg_ci h4.ciTit03 {
	background: url(../../images/company/03_tit03.gif) no-repeat;
}

.aboutyg_ci dl {
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

.aboutyg_ci dt {
	float: left;
	width: 150px;
}

.aboutyg_ci dd {
	float: left;
	width: 610px;
}

.aboutyg_ci dd span {
	display: inline-block;
	width: 140px;
	position: relative;
	vertical-align: top;
}

.aboutyg_ci dd.clear {
	clear: both;
	width: 760px;
	height: 80px;
}

.aboutyg_ci ul {
	margin-top: 50px;
	margin-bottom: 150px;
	border-top: 2px solid #282828;
}

.aboutyg_ci li {
	padding: 10px;
	border-bottom: 1px solid #C8C8C8;
}

.aboutyg_ci li a {
	font-weight: bold;
	color: #282828;
	text-decoration: none;
}

.aboutyg_ci li a:hover {
	color: #BE0028;
}

.aboutyg_ci li span {
	display: inline-block;
	vertical-align: middle;
}

.aboutyg_ci li span img {}

.aboutyg_ci li span.tit {
	width: 330px;
}

.aboutyg_ci li span.ico {
	width: 20px;
}

.aboutyg_ci li span.down {
	padding-right: 45px;
}

.aboutyg_ci li span.view {
	width: 150px;
}

.aboutyg_ci p.txt {
	font-size: 11px;
	margin-top: 5px;
	color: #969696;
	text-align: right;
}

.aboutyg_ci .row {
	margin: 5em 0;
}
.aboutyg_ci [class*="col-"].title {
	font-size: 1.3em;
	font-weight: 700;
	color: #969696;
}
.aboutyg_ci p.note {
	line-height: 1.5;
}
.aboutyg_ci a.download {
	padding: 14px 24px 12px;
	font-size: 1.3em;
	font-weight: 700;
	color: #ffffff;
	border: 1px solid #000000;
	border-radius: 3px;
	background-color: #282828;
}
.aboutyg_ci a.download:hover,
.aboutyg_ci a.download:focus {
	background-color: #000000;
}
.aboutyg_ci .color-system {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.aboutyg_ci .color-system.color-black {
	background-color: #000000;
}
.aboutyg_ci .color-system.color-gray {
	background-color: #999899;
}
.aboutyg_ci .color-system.color-silver {
	background-color: #8a8d8f;
}
.aboutyg_ci .color-system.color-gold {
	background-color: #87674f;
}
.aboutyg_ci .color-system.color-red {
	background-color: #c82123;
}
.aboutyg_ci .color-info {
	line-height: 1.3;
}
.aboutyg_ci .color-info p {
	color: #969696;
}
.aboutyg_ci .color-info p.name {
	font-size: 1.3em;
	font-weight: 700;
	color: #000000;
}
/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 721px) {
	.aboutyg_cont {
		max-width: 970px;
		padding-bottom: 50px;
		margin-top: 50px;
		vertical-align: top;
	}
	.aboutyg_gnb {
		float: left;
		width: 150px;
		font-size: 1.2em;
		border-top: 2px solid #282828;
		vertical-align: top;
	}
	.aboutyg_gnb h4 {
		display: none;
	}
	.aboutyg_area {
		float: left;
		width: 760px;
		margin-left: 55px;
	}
	.aboutyg_img {
		text-align: center;
	}
	.aboutyg_txt {
		max-width: 760px;
		padding-bottom: 100px;
	}
	.aboutyg_col {
		display: inline-block;
		width: 28%;
		margin-right: 8%;
	}
	.aboutyg_col:last-child {
		margin-right: 0;
	}
}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 720px) {
	.aboutyg_cont {
		vertical-align: top;
	}
	.aboutyg_gnb {
		width: 100% !important;
		vertical-align: top;
	}
	.aboutyg_gnb h4 {
		font-size: 1.2em;
		padding: 10px;
	}
	.aboutyg_gnb ul {
		display: block;
		font-size: 0;
	}
	.aboutyg_gnb li {
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 1px solid #282828;
		font-size: 10px;
		text-align: center;
	}
	.aboutyg_gnb_introduction li:nth-child(1) {
		width: 36%;
	}
	.aboutyg_gnb_introduction li:nth-child(2) {
		width: 45%;
	}
	.aboutyg_gnb_introduction li:nth-child(3) {
		width: 19%;
	}
	.aboutyg_gnb li.on {
		font-weight: 700;
		border-bottom-width: 3px;
	}
	.aboutyg_area {
		margin-top: 50px;
	}
	.aboutyg_img.statement img {
		width: 64%;
	}
	.aboutyg_img.diagram {
		display: none;
	}
	.aboutyg_txt {
		width: 100%;
		margin: auto;
		vertical-align: top;
		font-size: 14px;
	}
	.aboutyg_col {
		margin-bottom: 1.5em;
	}
	.aboutyg_ci dl {
		float: none;
		margin-top: 50px;
		margin-bottom: 50px;
		display: inline-block;
	}
	.aboutyg_ci dt {
		padding-bottom: 10px;
		float: none;
		width: 300px;
	}
	.aboutyg_ci dd {
		width: 610px;
	}
	.aboutyg_ci li span {
		display: inline-block;
		vertical-align: middle;
	}
	.aboutyg_ci li span.bi_st {
		width: 240px !important;
	}
	.aboutyg_ci li span.ico {
		width: 20px;
		margin-right: 5px;
		padding-top: 5px;
	}
	.aboutyg_ci li span.down {
		margin-right: -45px;
	}
}

/* ------------------------------
---------------------------------
<Phones> Large screens
---------------------------------
------------------------------ */

@media (max-width: 480px) {}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * history
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.tbl_history {
	margin-top: 50px;
	padding-left: 300px;
	background: url(../../images/company/history_bg.jpg) no-repeat;
	background-position: 0px -50px;
}

.tbl_history table {
	width: 100%;
	border: 0
}

.tbl_history th,
.tbl_history td {
	border: 0;
	border-bottom: 1px dotted #C8C8C8;
	text-align: left;
	vertical-align: top
}

.tbl_history tr:last-child th,
.tbl_history tr:last-child td {
	border-bottom: none;
}

.tbl_history th {
	width: 115px;
	padding: 12px 0 8px 10px;
}

.tbl_history td {
	padding: 12px 0 10px;
	line-height: 20px
}

.tbl_history td li {
	*display: inline-block;
	position: relative;
	vertical-align: top
}

.tbl_history td .in_type2 {
	position: absolute;
	top: -1px;
	left: 0;
}

.tbl_history td .desc {
	position: relative;
	padding-left: 32px;
	color: #646464;
	/*background: url(/images/company/history_blt.gif) top left no-repeat;*/
}

.tbl_history td .desc:before {
	content: '•';
	display: block;
	position: absolute;
	left: 20px;
	top: 0;
}

.tbl_history .last th,
.tbl_history .last td {
	border-bottom: 0
}

.tbl_history strong {
	font-family: "Titillium Web", "RixSGo", sans-serif;
}

.tbl_history strong.in_type1 {
	font-size: 2em;
}

.tbl_history strong.in_type2 {
	font-size: 1.2em;
	color: #969696;
}

/*
.in_type1, .in_type2 {
  overflow: hidden;
  line-height: 1px;
  white-space: nowrap
}
*/

.in_type1 span {
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-right: -3px;
	*margin: 0;
	background: url(../../images/company/history_num.gif) no-repeat;
	vertical-align: top
}

.in_type2 span {
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-right: -2px;
	*margin: 0;
	background: url(../../images/company/history_num.gif) no-repeat;
	vertical-align: top
}

.in_type1,
.in_type1 span {
	height: 16px
}

.in_type1 .n1 {
	width: 10px;
	background-position: 0 0
}

.in_type1 .n2 {
	width: 10px;
	background-position: -15px 0
}

.in_type1 .n3 {
	width: 11px;
	background-position: -30px 0
}

.in_type1 .n4 {
	width: 12px;
	background-position: -45px 0
}

.in_type1 .n5 {
	width: 11px;
	background-position: -60px 0
}

.in_type1 .n6 {
	width: 11px;
	background-position: -75px 0
}

.in_type1 .n7 {
	width: 11px;
	background-position: -90px 0
}

.in_type1 .n8 {
	width: 11px;
	background-position: -105px 0
}

.in_type1 .n9 {
	width: 11px;
	background-position: -120px 0
}

.in_type1 .n0 {
	width: 11px;
	background-position: -135px 0
}

.in_type1 .nn {
	width: 11px;
	background-position: -150px 0
}

.in_type2 {
	display: inline-block;
	padding-right: 4px;
}

.in_type2,
.in_type2 span {
	height: 16px
}

.in_type2 .n1 {
	width: 7px;
	background-position: 0 -20px
}

.in_type2 .n2 {
	width: 7px;
	background-position: -15px -20px
}

.in_type2 .n3 {
	width: 7px;
	background-position: -30px -20px
}

.in_type2 .n4 {
	width: 7px;
	background-position: -45px -20px
}

.in_type2 .n5 {
	width: 7px;
	background-position: -60px -20px
}

.in_type2 .n6 {
	width: 7px;
	background-position: -75px -20px
}

.in_type2 .n7 {
	width: 7px;
	background-position: -90px -20px
}

.in_type2 .n8 {
	width: 7px;
	background-position: -105px -20px
}

.in_type2 .n9 {
	width: 7px;
	background-position: -120px -20px
}

.in_type2 .n0 {
	width: 7px;
	background-position: -135px -20px
}

.in_type2 .nn {
	width: 7px;
	background-position: -150px -20px
}

.blind {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0
}

/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 721px) {}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 720px) {
	.tbl_history {
		background-position: center -50px;
		padding: 150px 0 0 0;
	}
	.tbl_history th {
		width: 72px;
	}
}

/* ------------------------------
---------------------------------
<Phones> Large screens
---------------------------------
------------------------------ */

@media (max-width: 480px) {}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * ir
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ir_cont {
	float: left;
	width: 970px;
	padding: 0 0 70px 0;
	margin: 50px 0 0 0;
	vertical-align: top;
}

.ir_gnb {
	float: left;
	width: 152px;
	border-top: 2px solid #282828;
	vertical-align: top;
}

.ir_gnb ul {}

.ir_gnb ul li {
	padding: 10px;
	border-bottom: 1px solid #C8C8C8;
}

.ir_gnb ul li a.on {
	font-weight: bold;
	color: #282828;
	text-decoration: none;
}

.ir_area {
	float: left;
	width: 760px;
	margin-left: 55px;
	vertical-align: top;
}

.ir_txt {
	text-align: justify;
	line-height: 150%;
	color: #969696;
}

.ir_tit {
	font-size: 16px;
	font-weight: bold;
	color: #282828;
}

.ir_tit span {
	font-size: 12px;
}

.ir_noti {
	margin-top: 10px;
}

.ir_down {
	background: url(../../images/company/ir_img.jpg) no-repeat;
	padding: 30px 0 0 110px;
}

.ir_down2 {
	background: url(../../images/company/ir_img_2.jpg) no-repeat;
	padding: 30px 0 0 110px;
}

.ir_note {
	font-size: 11px;
	color: #969696;
	padding: 7px 0;
}

.ir_note a {
	color: #282828;
}

.ir_note a:hover {
	color: #BE0028;
}

/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 721px) {
	.ir_txt iframe.ir_iframe {
		width: 750px;
		overflow: hidden;
	}
	.ir_tit span {
		text-align: right;
		float: right !important;
		padding-right: 10px;
	}
}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 720px) {
	.aboutyg_gnb_ir li {
		width: 33.33%;
	}
	.ir_txt iframe.ir_iframe {
		width: 100%;
		overflow-x: scroll;
	}
	.ir_tit span {
		display: block;
		font-size: 10px;
		padding-top: 10px;
	}
}

/* ------------------------------
---------------------------------
<Phones> Large screens
---------------------------------
------------------------------ */

@media (max-width: 480px) {}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 * recruit
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.recruit {
	margin: 30px 0;
}

.recruit_tit {
	float: left;
	width: 170px;
}

.recruit_txt {
	float: left;
	width: 220px;
	padding-top: 5px;
	text-align: justify;
	vertical-align: top;
	color: #969696;
}

.recruit_txt p {
	display: block;
	padding-left: 30px;
}

.recruit_txt1 {
	float: left;
	width: 800px;
}

.recruit_job1 {
	float: left;
	width: 250px;
	padding-bottom: 15px;
	border-bottom: 1px solid #C8C8C8;
	text-align: justify;
	vertical-align: top;
	line-height: 120%;
	color: #969696;
}

.recruit_job1 h3 {
	padding: 0 0 15px 0;
}

.recruit_job1 p {
	background: url(../../images/common/bu_dot.gif) no-repeat 42px 8px;
	padding: 0 0 5px 50px;
	font-size: 11px;
}

.recruit_txt2 {
	float: left;
	width: 800px;
}

.recruit_job2 {
	text-align: justify;
	vertical-align: top;
	color: #969696;
	margin-bottom: 40px;
}

.recruit_job2 h3 {
	padding: 0 0 15px 0;
}

.recruit_job2 p {}

.recruit_txt3 {
	width: 750px;
}

.recruit_job3 {
	text-align: justify;
	vertical-align: top;
	color: #969696;
	margin-bottom: 40px;
}

.recruit_job3 h3 {
	padding: 0 0 15px 0;
}

.recruit_job3 p {}

.recruit_clear {
	clear: both;
}

.recruit2_cont {}

.recruit2_img {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
	text-align: center;
	vertical-align: top;
}

.recruit2_txt {
	float: left;
	width: 750px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	vertical-align: top;
}

.recruit2_yg_txt {
	float: left;
	width: 220px;
	padding-top: 5px;
	text-align: justify;
	vertical-align: top;
	color: #969696;
}

.recruit2_yg_txt p {}

.recruit2_yg_tit {
	font-size: 16px;
	font-weight: bold;
	color: #282828;
}

.recruit2_job3 {
	text-align: justify;
	vertical-align: top;
	color: #969696;
	margin-bottom: 15px;
}

.recruit2_job3 h3 {
	padding: 0 0 0 0;
}

.recruit_gnb {
	float: left;
	width: 152px;
	border-top: 2px solid #282828;
	vertical-align: top;
}

.recruit_gnb ul {}

.recruit_gnb ul li a.on {
	font-weight: bold;
	color: #282828;
	text-decoration: none;
}

/*
.recruit_gnb ul li.depth11 {
  padding: 10px;
  border-bottom: 1px solid #C8C8C8;
}
.recruit_gnb ul li.depth10 {
  padding: 10px;
}
.recruit_gnb ul li.depth21 {
  padding: 0 10px 10px 20px;
  border-bottom: 0px solid #C8C8C8;
  background: url(/images/common/bullet.gif) no-repeat 10px 6px;
}
.recruit_gnb ul li.depth31 {
  padding: 0 10px 10px 30px;
  border-bottom: 0px solid #C8C8C8;
  background: url(/images/common/bullet.gif) no-repeat 20px 6px;
}
.recruit_gnb ul li.depth41 {
  padding: 0 10px 10px 30px;
  border-bottom: 1px solid #C8C8C8;
  background: url(/images/common/bullet.gif) no-repeat 20px 6px;
}
.recruit_gnb ul li.depth20 {
  padding: 0 10px 10px 20px;
  background: url(/images/common/bullet.gif) no-repeat 10px 6px;
}
*/

.td1_480 label {
	padding-right: 30px;
}

.td2_480 label {
	padding-right: 30px;
}

.th5 label {
	padding-right: 50px;
}

input,
label,
select {
	vertical-align: middle;
}

span.title {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #282828;
	display: inline-block;
	padding: 30px 0 6px 0;
}

span.sub {
	color: #969696;
	display: inline-block;
	padding: 30px 0 6px 0;
}

span.search {
	font-size: 12px;
	color: #282828;
	display: inline-block;
	margin: -3px 0 0 0;
	background: #0F0
}

span.redb {
	color: #BE0028;
	font-size: 13px;
	font-weight: bold;
}

span.red {
	color: #BE0028;
}

#Recruit {
	width: 750px;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

/* apply */

#Recruit .btn {
	padding: 30px 0;
}

#Recruit .line_b1 {
	border-bottom: 1px solid #282828;
}

#Recruit .line_b2 {
	border-bottom: 2px solid #282828;
}

#Recruit table {
	width: 750px;
	margin: 0 auto;
}

#Recruit th.th1 {
	width: 130px;
	height: 20px;
	padding: 8px 0 7px 20px;
	background: #F0F0F0;
	border-bottom: 1px solid #C8C8C8;
}

#Recruit td.td1_480 {
	width: 640px;
	padding: 8px 0 7px 10px;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}

#Recruit th.th2 {
	width: 130px;
	padding: 8px 0 7px 20px;
	background: #F0F0F0;
	border-bottom: 1px solid #C8C8C8;
}

#Recruit td.td2_480 {
	width: 640px;
	padding: 8px 0 7px 10px;
	border-bottom: 1px solid #C8C8C8;
	text-align: left;
}

#Recruit th.th3 {
	padding: 8px 0 7px 20px;
	border-bottom: 1px solid #C8C8C8;
}

#Recruit td.td3 {
	padding: 8px 0 7px 20px;
	border-bottom: 1px solid #C8C8C8;
}

#Recruit td.td3_left {
	text-align: left;
}

#Recruit th.th4 {
	padding: 8px 0 20px 0;
	text-align: left;
	font-weight: normal;
}

#Recruit th.th5 {
	padding: 0 0 20px 0;
	text-align: center;
}

#Recruit th.th6 {
	padding: 30px 0;
	text-align: center;
	border-bottom: 1px solid #C8C8C8;
}

#Recruit td.lang {
	padding-top: 50px;
}

#Recruit td.content {
	padding-top: 50px;
}

#Recruit td.info {
	padding: 15px 0 10px 30px;
	background-color: #F0F0F0;
	border-top: #C8C8C8 1px solid;
	border-bottom: #C8C8C8 1px solid;
}

#Recruit td.info14 {
	padding: 15px 0 10px 30px;
	border-bottom: #C8C8C8 1px solid;
}

#Recruit .box_agree {
	width: 700px;
	height: 173px;
	padding: 15px 15px;
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #C8C8C8;
	line-height: 22px;
	font-size: 12px;
	text-align: justify;
	word-break: keep-all;
}

#Recruit p {
	text-align: left;
	padding: 0 0 7px 0;
}

#Recruit p.center {
	text-align: center;
}

#Recruit p.b16 {
	font-size: 16px;
	font-weight: bold;
}

#Recruit p.b16c {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 180%
}

#Recruit p.f14 {
	font-size: 14px;
}

#Recruit p.f13 {
	font-size: 13px;
}

#Recruit p.red {
	color: #BE0028;
}

#Recruit p.note {
	font-size: 11px;
	color: #969696;
	padding-top: 6px;
	text-align: right;
}

/* list */

#Recruit th.th_list1 {
	width: 400px;
	padding: 20px 0;
	background: #F0F0F0;
	border-bottom: 1px solid #C8C8C8;
	vertical-align: top;
}

#Recruit td.td_list1 {
	width: 380px;
	padding: 20px 0 20px 20px;
	background: #F0F0F0;
	border-bottom: 1px solid #C8C8C8;
	vertical-align: top;
}

#Recruit th.th_list2 {
	width: 400px;
	padding: 20px 0;
	background: #FFFFFF;
	border-bottom: 1px solid #C8C8C8;
	vertical-align: top;
}

#Recruit td.td_list2 {
	width: 380px;
	padding: 20px 0 20px 20px;
	background: #FFFFFF;
	border-bottom: 1px solid #C8C8C8;
	vertical-align: top;
}

#Recruit td.td_list1 ul,
#Recruit td.td_list2 ul {
	width: 100%;
}

#Recruit td.td_list1 li,
#Recruit td.td_list2 li {
	padding-bottom: 4px;
	text-align: justify;
}

#Recruit td ul li.title {
	font-weight: bold;
}

#Recruit td ul li.name {
	font-size: 11px;
}

#Recruit td ul li.hit {
	font-size: 11px;
	color: #969696;
}

#Recruit td ul li.date {
	font-size: 11px;
	color: #969696;
}

#Recruit td ul li.type {
	font-size: 11px;
	color: #969696;
}

#Recruit td ul li.deco {
	#font-family: Dotum, 돋움, tahoma, Verdana;
	font-size: 11px;
	line-height: 130%;
}

#Recruit td ul li.like {
	font-size: 11px;
	font-weight: bold;
}

#Recruit td ul li.like span {
	display: inline-block;
	color: #0084ea;
	vertical-align: middle;
}

#Recruit td.pdt30 {
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: right;
}

/* =customer center 등록 (채용문의 위해 추가 2012.03.16 by 김준형) */

.section_pop_qna {
	margin: 0 auto;
	width: 830px;
}

.section_pop_qna .qna_h1 {
	height: 50px;
	border-bottom: 2px solid #282828;
}

.section_pop_qna .qna_h1 h1 {
	padding-top: 21px;
}

.section_pop_qna .qna_h1 span {
	padding-left: 5px;
	font-size: 15px;
	color: #232323;
	font-family: dotum;
	font-weight: bold;
}

.section_pop_qna .qna_h1 span,
.section_pop_qna .qna_h1 h1 {
	vertical-align: middle;
}

.section_pop_qna .agree_tit_area {
	height: 15px;
	padding-top: 12px;
}

.section_pop_qna .agree_txt_area {
	position: relative;
	width: 718px;
	height: 82px;
	overflow: auto;
	background-color: #F0F0F0;
	border: 1px solid #C8C8C8;
	padding: 10px 0 0 10px;
}

.section_pop_qna .agree_txt_area p {
	font-size: 11px;
}

.section_pop_qna .agree_chk {
	height: 28px;
	margin-bottom: 15px;
	padding-top: 5px;
	border-bottom: 0px solid #282828;
}

.section_pop_qna .agree_chk span {
	font-size: 11px;
}

.section_pop_qna .agree_chk span,
.agree_chk input {
	background-color: #FFFFFF;
	border: 0px;
}

.section_pop_qna .user_info_area table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.section_pop_qna .user_info_area th {
	text-align: left;
	vertical-align: top;
	padding: 9px 0 5px 0;
}

.section_pop_qna .user_info_area td {
	padding: 7px 0 5px 0;
	vertical-align: top;
	line-height: 1.3;
}

.section_pop_qna .user_info_area td span {
	font-size: 11px;
	letter-spacing: -1px;
}

.section_pop_qna .btn_qna_apply {
	border-top: 1px solid #282828;
	margin-top: 15px;
	padding-top: 20px;
	text-align: center;
}

.hidden_txt {
	display: none;
}

/* ------------------------------
---------------------------------
[ Desktops only ]
---------------------------------
------------------------------ */

@media (min-width: 721px) {}

/* ------------------------------
---------------------------------
[ Phones & Tablets only ]
---------------------------------
------------------------------ */

@media (max-width: 720px) {}

/* ------------------------------
---------------------------------
<Phones> Large screens
---------------------------------
------------------------------ */

@media (max-width: 480px) {}